<%= form_for(@website) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.submit "Create my account"%>
<% end %> 

<table>
  <tr>
    <th>Name:</th>
    <th>Status:</th>
    <th>Response time:</th>
    <th>Average response time:</th>
    <th>Remove</th>
  <% @websites.each do |w| %>
  <tr>
    <td><%= w.name %></td>
    <td><%= w.responses.last.status %></td>
    <td><%= w.responses.last.status %></td>
    <td><%= w.responses.last.status %></td>
    <td><%=link_to 'Remove', website_path(w), method: :delete %></td>


<% end %>

